{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% load static %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Кузьмин Артём</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <p>Программирование ещё со школы привлекало меня.
          Сначала пишешь код, а потом из этого получается
          работающая система — в такие моменты получаешь максимальное удовольствие.
          Бонусом было, что профессия программиста оказалась достаточно востребована.
          Это даёт мне большой стимул совмещать учебу и работу.</p>
        <p>Ещё хочу рассказать вам о моём домашнем любимце.
        Её зовут Соня. Здесь я решил поделиться с вами своим опытом совместной жизни с енотом полоскуном).
        Это ребёнок, по проделкам напоминает годовалую двойню)
        Но её милота, нежность, ласка уж точно не оставят Вас равнодушными!
        Она прекрасно приучается спать ночью, если Вы будете с ней добры и она в ответ тоже.
        Чем больше времени Вы уделяете ей, тем социальные становится Ваша кроха)
          Я счастлив иметь такого экзотического, но милого зверя!
        Хотите увидеть его? Контакты для связи ниже)</p>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <img src="{% static 'img/about/my_foto.jpeg' %}">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Контакты для связи</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>
          Telegram: <a href="https://t.me/karlkarlsn">Перейти в Telegram</a>
        </p>
        <p>Почта: <a href="mailto: zdorovoebody@yandex.ru">zdorovoebody@yandex.ru</a></p>
      </div>
    </div>
  </div>
{% endblock %}