{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
  Главная страница
{% endblock %}
{% block content%}
  <h3> {{title}} </h3>
  <ul>
  {% for post in page_obj %}
    <ul>
      <li>
        Автор: {{ post.author.get_full_name }}
      </li>
      <li>
        Дата публикации: {{ post.pub_date|date:"d E Y" }}
      </li>
    </ul>
    <p>{{ post.text }}</p>
    <p>
    {% thumbnail post.image "1920x1080" crop="center" upscale=True as im %}
      <div class="card" style="width: 28rem;">
      <img class="card-img-top" src="{{ im.url }}" alt="Card image cap">
      <div class="card-body">
        </div>
    </div>
      {% endthumbnail %}
    </p>
    {% if post.group %}
      <a href="{% url 'posts:group' post.group.slug %}">Перейти в группу {{ post.group.title }}</a>
    {% endif %}
    {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
  </ul>

{%endblock%}