{% extends 'base.html' %}
{% load thumbnail %}
  {% block title %}Профайл пользователя {{ author.get_full_name }} {% endblock%}
  {% block content %}
    <main>
      <div class="mb-5">
  <h1>Все посты пользователя {{ author.get_full_name }}</h1>
  <h3>Всего постов: {{ post_count }}</h3>
  <h4> Подписки: {{ author.follower.count }}</h4>
          <h4>Подписчики: {{ author.following.count }} </h4>
  {% if author != request.user %}
    {% if following %}
        <a
        class="btn btn-lg btn btn-danger"
        href="{% url 'posts:profile_unfollow' author.username %}" role="button"
            >
        Отписаться
     </a>
    {% else %}
        <a
            class="btn btn-lg btn btn-primary"
            href="{% url 'posts:profile_follow' author.username %}" role="button"
        >
            Подписаться
        </a>
    {% endif %}
  {% endif %}
</div>
        {% for post in page_obj %}
          <ul>
            <li>
              Автор: {{ author.get_full_name }}
              <a href="{% url 'posts:profile' author %}">все посты пользователя</a>
            </li>
            <li>
              Дата публикации: {{ post.pub_date|date:"d E Y"}}
            </li>
          </ul>
          {% thumbnail post.image "1920x1080" crop="center" upscale=True as im %}
            <img class="card-img my-2" src="{{ im.url }}">
          {% endthumbnail %}
          <p>
          {{ post.text }}
          </p>
        <li>
          <a href="{% url 'posts:post_detail' post.id %}">подробная информация </a>
        {% if post.group %}
          <li>
        <a href="{% url 'posts:group' post.group.slug %}">все записи группы</a>
      </li>
        {% endif %}
        <hr>
        {% endfor %}
      </div>
    </main>
  {% endblock %}