{% extends 'base.html' %}
  {% block title %}Профайл пользователя {{ author.get_full_name }} {% endblock%}
  {% block content %}
    <main>
      <div class="container py-5">
        <h1>Все посты пользователя {{ author.get_full_name }}  </h1>
        <h3>Всего постов: {{ post_count }} </h3>
        {% for post in page_obj %}
          <ul>
            <li>
              Автор: {{ author.get_full_name }}
              <a href="{% url 'posts:profile' author %}">все посты пользователя</a>
            </li>
            <li>
              Дата публикации: {{ post.pub_date|date:"d E Y"}}
            </li>
          </ul>
          <p>
          {{ post.text }}
          </p>
        <li>
          <a href="{% url 'posts:post_detail' post.id %}">подробная информация </a>
        {% if post.group %}
          <li>
        <a href="{% url 'posts:group' post.group.slug %}">все записи группы</a>
      </li>
        {% endif %}
        <hr>
        {% endfor %}
      </div>
    </main>
  {% endblock %}